---
layout: global
---

<article>
  <div class="container">
    {% include page-header.html %}
    <div class="row">
      <div class="col content">
        {% assign paragraphs = content | split:'</p>' %}
        {% for paragraph in paragraphs limit:2 %}
          {{ paragraph | append: '</p>' }}
        {% endfor %}
        {% if page.banners.size > 0 %}
      </div>
    </div>
  </div>
  <section class="container-fluid px-0 mb-3 my-lg-4">
    {% include banners.html %}
  </section>
  <div class="container">
    <div class="row content mb-lg-3">
      <div class="col">
        {% endif %}
        {% for paragraph in paragraphs offset:2 %}
          {{ paragraph | append: '</p>' }}
        {% endfor %}
      </div>
    </div>
  </div>
</article>
