---
layout: global
---

<article>
  <div class="container mb-3">
    {% include page-header.html %}
    <div class="row">
      <div class="col content">
        {{content}}
      </div>
    </div>
  </div>

  {% for item in page.projects %}
    <div class="{% cycle 'bg-faded', '' %}">
      <div class="container py-4">
        <div class="row">
          <div class="col-lg-10 offset-lg-2">
            <div class="row">
              <div class="col-8 offset-2 offset-sm-0 col-sm-4 text-center mb-2">
                <img class="w-100" src="{{site.baseurl}}{{item.image}}">
              </div>
              <div class="col-12 col-sm-8">
                  <h2 class="mb-1">{{item.title}}</h2>
                <p>
                  {{item.text}}
                </p>
                <p>
                  {% for link in item.links %}
                    <a class="text-danger" href="{{link.url}}">{{link.title}}</a>
                    {% unless forloop.last %}, {% endunless %}
                  {% endfor %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}


  {% if page.contact %}
    <div class="bg-info">
      <div class="container py-3 py-lg-4">
        <div class="row">
          <div class="col-lg-3">
            <h2 class="text-uppercase text-white">{{site.questions[page.lang]}}</h2>
          </div>
          <div class="col-lg-8">
            {% for item in page.contact %}
              <div class="row mb-2 mb-lg-0 {% if forloop.index > 1 %}mt-lg-3{% endif %}">
                <div class="col-3">
                  <img class="w-100" src="{{site.baseurl}}{{item.image}}">
                </div>
                <div class="col-9 col-md-6">
                  <p class="small text-white">
                    <strong>{{item.name}}</strong><br>
                    {{item.text}}<br>
                    {% if item.phone %}{{item.phone}}<br>{% endif %}
                    <a href="mailto:{{item.mail}}">{{item.mail}}</a>
                  </p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="{% cycle 'bg-faded', '' %} py-3 py-lg-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 offset-lg-3">
          {% include partners.html partners=page.partner-links partner-text=page.partner-text %}
        </div>
      </div>
    </div>
  </div>

</div>
</article>
